Welcome to Gmail!
<br>
<div class="folders"></div>
<div class="content"></div>

<script type="application/javascript">
  $(document).ready(function(){
    var currentUser = <%= current_user.to_json.html_safe %>
    Gmail.initialize($('.content'), $('.folders'), currentUser);
  });
</script>