<button class="btn btn-primary back">back</button>

<h2><%= email.get('title') %></h2>
<br>
<%= email.get('sender_address') %> <br>
to <%= Gmail.currentUser.email %>
<br><br>
<%= email.get('content') %>