/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require bootstrap-tagsinput
 */

.folders {
  margin-top: 100px;
  float: left;
	margin-right: 10px;
	width: 20%;
	height: 100%;
}

.content {
  margin-top: 100px;
	float: right;
	width: 75%;
}

table.emails { table-layout:fixed; }
table.emails td { overflow: hidden; }

.unread {
  font-weight: bold;
}

.topbar {
  margin-top: 20px;
  margin-right: 35px;
  float: right;
}
.signin-box {
  float: right;
  margin-top: 110px;
  margin-right: 40px;
  padding: 20px 25px 15px;
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  width: 335px;
}